.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;

    .avatar-image {
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }

    img {
        height: 120px;
        object-fit: cover;
    }

    .name-container {
        display: flex;
        
        .rating {
            margin-right: 5px;

            &.active {
                color: rgb(255, 140, 0);
            }
        }
    }

    .stars-and-issues-container {
        display: flex;
        align-items: center;

        div {
            padding: 5px;
            border: 1px solid black;
        }
    }

    .clickable {
        cursor: pointer;

        &:hover {
            color: darkgray;
            transition: 0.25s;
        }
    }
}